.appgroup {
  border: 1px dashed;

  >button {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

    &:hover,
    .active {
      background-color: #ccc;
    }
  }

  >div {
    padding: 0 0 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
}

.app {

  background-color: beige;

  h2,
  p {
    margin: 0;
    padding: 0;
  }

  button {
    height: 40px;
    min-width: 40px;
    font-size: x-large;
  }

  input[type="range"] {



    width: 80%;
    cursor: pointer;
    outline: none;
    border-radius: 30px;

    height: 10px;
    background: #ccc;
  }

  .toggle {
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #707070;
    transition: background-color ease 0.3s;

    &:before {
      content: "ein aus";
      display: block;
      position: absolute;
      z-index: 2;
      width: 28px;
      height: 28px;
      background: #fff;
      left: 2px;
      top: 2px;
      border-radius: 50%;
      font: 10px/28px Helvetica;
      text-transform: uppercase;
      font-weight: bold;
      text-indent: -22px;
      word-spacing: 37px;
      color: #fff;
      text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
      white-space: nowrap;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
    }

    &:checked {
      background-color: #4CD964;

      &:before {
        left: 32px;
      }
    }
  }


  > :nth-child(3) {
    display: flex;
    /* or inline-flex */
    flex-direction: row;
    align-items: center;
  }

}